@import "../assets/scss/styles.scss";

@media (min-width: 992px) {
    .landing-body .app-sidebar {
        background-color: var(--primary-color);
    }

    section.logo {
        padding-top: 150px !important;
    }
}

.landing-body .main-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-topic {
    max-width: 700px;
}

/* Style for the skeleton loading effect */
.skeleton {
    width: 100%;
    height: 300px; /* Set the desired height for your image */
    background-color: #d0d0d0; /* Set the background color of the skeleton */
    animation: pulse 1.5s infinite; /* Add a subtle animation for visual appeal */
}

@keyframes pulse {
    0% { opacity: 0.6; }
    50% { opacity: 0.9; }
    100% { opacity: 0.6; }
}